<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card border-0" style="width: 18rem;">
                <div class="d-flex justify-content-center">
                    <img class="card-img-top rounded-circle w-75" src="../../assets/Sunni.png" alt="Foto Aleatória">
                </div>

                <div class="card-body">
                    <h5 class="card-title text-center"> Isadora Lemes </h5>
                    <p class="card-text text-center"> K-Pop Star </p>
                    <a class="btn btn-outline-dark d-flex justify-content-center" href="https://www.instagram.com/miyayeah/" target="_blank"> Instagram </a>

                    <hr class="mt-4 mb-4">
                    <h6 class="mb-3 text-monospace text-center"> Pesquisar por título </h6>
                    <input class="form-control mb-3 w-100" type="text">
                    <button class="btn btn-outline-warning w-100"> Pesquisar </button>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div>
                <h3 class="text-center mb-4 text-monospace">Digite abaixo seus comentários</h3>
                <div class="form-group">
                    <label class="text-monospace" for="titulo">Título</label>
                    <input class="form-control" type="text" name="titulo" id="titulo" placeholder="Digite o título da postagem">
                </div>

                <div class="form-group mt-3">
                    <label class="text-monospace" for="texto">Texto</label>
                    <textarea class="form-control" type="text" name="texto" id="texto" cols="30" rows="5" placeholder="Digite a sua mensagem"></textarea>
                </div>

                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-outline-info w-25" type="button">Publicar</button>
                </div>
            </div>

            <hr class="mt-4 mb-4">
            <h3 class="text-center mb-4 text-monospace">Comentários adicionados</h3>

        </div>
    </div>
</div>