<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h1 class="text center"></h1>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-12">
            <b>Spring Framework</b>
            <p></p>
            <p class="text center">
                O Spring Boot é um framework Java open source que tem como objetivo facilitar esse processo em aplicações 
                Java. Consequentemente, ele traz mais agilidade para o processo de desenvolvimento, uma vez que devs 
                conseguem reduzir o tempo gasto com as configurações iniciais. Com o Spring Boot conseguimos abstrair e 
                facilitar a configuração de, por exemplo: servidores, gerenciamento de dependências, configurações de bibliotecas,
                métricas & health checks e entre outros.
            </p>
        </div>
    </div>

    <div class="parallax"></div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-outline-dark" [routerLink]="['/feed']">Ver o feed</button>
        </div>
    </div>
</div>