<div class="container mb-5">
    <h1 class="mb-5 mt-5">Entre em contato conosco</h1>
    <form>  
        <div class="form-group mb-3">
            <label class="form-label" for="nome">Nome</label>
            <input class="form-control" type="text" id="nome" placeholder="Insira seu nome">
        </div>
        
        <div class="form-group mb-3">
            <label class="form-label" for="email">E-mail</label>
            <input class="form-control" type="email" id="email" placeholder="Insira seu e-mail">
        </div>

        <div class="form-group mb-3">
            <label class="form-label" for="mensagem"> Mensagem </label>
            <textarea class="form-control" id="mensagem" rows="3"></textarea>            
        </div>

        <button class="btn btn-outline-primary">Enviar</button>
    </form>
</div>